

<div class="portfolio scroll-bar" onscroll={{this.handleScroll}}>

    <nav class="header" style="position: fixed;">
        <span>Home </span>
        <span>About</span>
        <span>Resume</span>
        <span>Project</span>
    </nav>

    <div class="home division" >
        <div class="content">
                <span style="font-size:70px;font-weight:900;">BASKAR. E</span>
                <span style="font-family:'Courier New', Courier, monospace;">Software Developer</span>
        </div>
    </div>

    <div class="about division">
        <div class="overlay-container">
            <div class="content">
                <h3>About</h3>
                <div class="about-content">
                    As a software developer, I possess a degree in computer science and experience in developing software. Passionate about crafting elegant solutions and pushing the boundaries of technology, I thrive in dynamic environments where creativity meets problem-solving. With a strong foundation in computer science principles and hands-on experience in software development, I am committed to continuous learning and growth in the ever-evolving field of technology.
                </div>
            </div>
        </div>
    </div>

    <div class="resume division">
        <div class="overlay-container" style="background-image: linear-gradient(to left top, rgb(0 0 0 / 76%), rgb(0 0 0 / 38%), #000000c7)">
            <div class="content">
                 <h3 style="margin-top: 0px;">Resume</h3>
                 <div class="resume-content">
                    <div><div class="skills container">
                        <h4 >Skills</h4>
                        <ul>
                            <li>Java <i class="fa-brands fa-java"></i></li>
                            <li>C & C++ Programming</li>
                            <li>HTML & CSS <i class="fa-brands fa-css3-alt"></i></li>
                            <li>JavaScript <i class="fa-brands fa-js"></i></li>
                            <li>Ember.js(Front-end Framework)  <i class="fa-brands fa-ember"></i></li>
                            <li>Servlets & JSP</li>
                            <li>Java Native Interface(JNI)</li>
                            <li>Postgres <i class="fa-solid fa-database"></i></li>
                        </ul>
                    </div>
                     <div class="languages container">
                        <h4>Languages</h4>
                        <ul>
                            <li>English</li>
                            <li>Tamil</li>
                        </ul>
                    </div></div>
                    <div class="education container">
                        <h4 >Education</h4>
                        <div class="edu">
                            <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    SSLC (2016 - 2017)<br>
                                    <span style="font-size: 12px;">
                                        Velammal Memorial Matric Hr. Sec. School
                                        <ul>
                                            <li>Percentage - 95.6</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    HSC (2018 - 2019)<br>
                                    <span style="font-size: 12px;">
                                        Velammal Memorial Matric Hr. Sec. School
                                        <ul>
                                            <li>Percentage - 70.16</li>
                                        </ul>
                                    </span>
                                </div>
                             </div>

                             <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    Bsc Computer Science (2019 - 2022)<br>
                                    <span style="font-size: 12px;">
                                        SRM Institute of Science and Technology
                                        <ul>
                                            <li>CGPA - 9.32</li>
                                        </ul>
                                    </span>
                                </div>
                             </div>

                             <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    Msc Information Technology (2022 - 2024)<br>
                                    <span style="font-size: 12px;">
                                        University of Madras
                                    </span>
                                </div>
                             </div>
                        </div>
                    </div>

                    <div><div class="work-exp container">
                        <h4 >Work Experience</h4>
                        <ul>
                            <li>Incubation trainee at Zoho from June 2022 to November 2022.</li>
                            <li>I worked as a contract employee at Zoho from November 2022 until April 2023.</li>
                        </ul>
                    </div>
                    <div class="hobbies container">
                        <h4>Hobbies & Interests</h4>
                        <div class="details">
                            <div class="hobby">
                                <i class="fa-solid fa-baseball"></i>
                                <span>Cricket</span>
                            </div>
                             <div class="hobby">
                                 <i class="fa-solid fa-paintbrush"></i>
                                <span>Drawing & Painting</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-solid fa-volleyball"></i>
                                <span>Volley Ball</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-solid fa-plane fa-rotate-180"></i>
                                <span>Travelling</span>
                            </div>
                        </div>
                    </div>
                    <div class="download-cv container" style="margin-top: 10vh;">
                         <div class="parent">
                            <span style="width:70px;padding:10px 15px;border:1px solid white;border-radius:30px;align-items:center;">Baskar's Resume <i class="fa-solid fa-download"></i></span>  
                            <div class="tooltip">click to download Baskar's Resume</div>
                         </div>
                    </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="project division">
        <div class="overlay-container">
            <div class="content">
                <h3 style="margin-top: 0px;">Project (Movie Ticket Booking - EasyTickets)</h3>
                <div class="project-content">
                  <div>
                    <h4>Overview</h4>
                    <p style="padding-left:15px;text-indent: 30px;">Our movie ticket booking application is a user-friendly platform designed to streamline the process of purchasing movie tickets online. With a sleek and intuitive interface, users can easily browse through a wide selection of movies, view showtimes at various theaters, select their preferred seats, and securely complete their bookings—all from the comfort of their own homes. Our goal is to provide a convenient and hassle-free movie-going experience for cinema enthusiasts of all ages.</p>
                  </div>
                  <div>
                    <h4>Technologies Used</h4>
                     <table style="padding-left:15px;">
                        <tbody>
                            <tr>
                                <td>Front-end: </td>
                                <td>Ember js, HTML, SCSS, JavaScript</td>
                            </tr>
                            <tr>
                                <td>Back-end: </td>
                                <td>Java, Servlets</td>
                            </tr>
                            <tr>
                                <td>Database: </td>
                                <td>Postgres</td>
                            </tr>
                        </tbody>
                     </table>
                  </div>

                  <div>
                    <h4>Key Features</h4>
                    <p style="padding-left:15px;">
                        <ul>
                            <li>User Authentication and Authorization: Secure user authentication system to allow users to sign up, log in, and manage their accounts.</li>
                            <li>Movie Browsing and Selection: Extensive catalog of movies with detailed information including titles, genres, release dates, and synopses. Seat Selection and Booking: Interactive seat map interface for users to select their preferred seats in theaters and book tickets for desired showtimes.</li>
                            <li>Booking History and User Profile Management: Personalized user profiles to view booking history, manage preferences, and update account details.</li>
                            <li>Host dashboard: A dashboard for the hosts for managing movies, theaters, and bookings,etc..</li>
                            <li>Booking History and User Profile Management: Personalized user profiles to view booking history, manage preferences, and update account details.</li>
                        </ul>
                    </p>
                    <div class="view-screenshots container" style="float:right;">
                         <div class="parent">
                            <span style="padding:10px 15px;border:1px solid white;border-radius:30px;align-items:center;">View ScreenShots <i class="fa-solid fa-camera"></i></span>  
                            <div class="tooltip">click to view project Screenshots</div>
                         </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    

</div>